<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{ this.usuario.Nombre }}</h2>
      <h4>{{ this.usuario.Email }}</h4>
    </div>
    <img
        width="120"
        height="120"
        class=""
        [src]="usuario.Foto ?? 'assets/images/profile-placeholder.png'"
      />
  </div>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/dashboard/panelControl"
  >
    {{ navigationElements[0] | uppercase }}
  </a>
  <a mat-list-item routerLinkActive="list-item" routerLink="/dashboard/ventas">
    {{ navigationElements[1] | uppercase }}
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item"
    routerLink="/dashboard/inventario"
  >
    {{ navigationElements[2] | uppercase }}</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item"
    routerLink="/dashboard/empleados"
    >{{ navigationElements[3] | uppercase }}</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item"
    routerLink="/dashboard/negocios"
    >{{ navigationElements[4] | uppercase }}</a
  >
  <mat-divider></mat-divider>
</mat-nav-list>
