:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.list-item,
.list-item-active {
  background: rgb(57, 172, 82);
  background: linear-gradient(
    90deg,
    rgba(57, 172, 82, 1) 0%,
    rgba(20, 129, 38, 1) 100%
  );
  color: white;
}

.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background: rgb(57, 172, 82);
  background: linear-gradient(
    90deg,
    rgba(57, 172, 82, 1) 0%,
    rgba(20, 129, 38, 1) 100%
  );
  color: white;
}
