.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  align-content: center;
  .menus {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .platos {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  .platos,
  .menus {
    width: 100%;
    background: white;
    padding: 2rem;
  }
}
