mat-form-field {
  width: 100%;
}

.buttons {
  button:last-child {
    background-color: #57ae51;
  }
}
.file-name {
  margin-left: 1rem; /* or whatever margin you require */
}
.mat-form-field-imagen {
  margin-bottom: 1rem;
}
