.inventario-section1 {
  margin-bottom: 2rem;
}
.inventario-section1 {
  table.mat-table::first-child {
    display: inline-block;
    width:45%;
  }
  table.mat-table {
    float: left;
    width:45%;
  }
}
.estatica {
  table.mat-table {
    table-layout: fixed;
    width: 100%;
    display: table;
  }
}
