<h1 mat-dialog-title>Agregar nuevo empleado</h1>
<div mat-dialog-content>
  <form [formGroup]="empleadoForm">
    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input formControlName="dni" matInput placeholder="Dni" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input formControlName="nombre" matInput placeholder="Nombre" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input formControlName="apellidos" matInput placeholder="Apellidos" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" placeholder="Rol">
        <mat-option value="camarero">Camarero</mat-option>
        <mat-option value="cajero">Cajero</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lugar</mat-label>
      <mat-select formControlName="lugar" placeholder="Lugar">
        <!-- get restaurants of an admin and show them as a options -->
        <mat-option value="camarero">Camarero</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input formControlName="pass" matInput placeholder="Contraseña" />
    </mat-form-field>
  </form>
</div>
<div class="buttons" mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="addEmpleado($event)"
  >
    {{btnAccion}}
  </button>
</div>
