<h3 mat-dialog-title>{{ titleAccion }} empleado</h3>
<div mat-dialog-content>
  <form [formGroup]="empleadoForm">
    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input
        formControlName="dni"
        matInput
        placeholder="Dni"
        [disabled]="titleAccion == 'Agregar' ? false : true"
      />
      <app-error-message
        [field]="empleadoForm.get('dni')"
        error="required"
        message="DNI es obligatorio"
        style="display: block"
      ></app-error-message
      ><app-error-message
        [field]="empleadoForm.get('dni')"
        error="pattern"
        message="DNI no es válido"
        style="display: block"
      ></app-error-message>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input formControlName="nombre" matInput placeholder="Nombre" />
      <app-error-message
        [field]="empleadoForm.get('nombre')"
        error="required"
        message="Nombre es obligatorio"
        style="display: block"
      ></app-error-message>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input formControlName="apellidos" matInput placeholder="Apellidos" />
      <app-error-message
        [field]="empleadoForm.get('apellidos')"
        error="required"
        message="Apellidos es obligatorio"
        style="display: block"
      ></app-error-message>
    </mat-form-field>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Correo Electronico</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Correo Electronico"
        />
        <app-error-message
          [field]="empleadoForm.get('email')"
          error="required"
          message="Correo electrónico es obligatorio"
          style="display: block"
        ></app-error-message>
        <app-error-message
          [field]="empleadoForm.get('email')"
          error="pattern"
          message="correo electronico invalido"
          style="display: block"
        ></app-error-message>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Negocio</mat-label>
      <mat-select
        formControlName="Negocio_oid"
        placeholder="Negocio"
        value="Negocio_oid.value"
      >
        <mat-option *ngFor="let negocio of negocios" [value]="negocio.Id">
          {{ negocio.Nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            formControlName="pass"
            matInput
            placeholder="Contraseña"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <app-error-message
            [field]="empleadoForm.get('pass')"
            error="required"
            message="Contraseña es obligatoria"
            style="display: block"
          ></app-error-message>
          <app-error-message
            [field]="empleadoForm.get('pass')"
            error="pattern"
            message="La contraseña debe contener al menos un número, una mayúscula, un carácter especial y un letra minúscula y al menos 8 caracteres, la contraseña no puede contener espacios en blanco"
            style="display: block"
          ></app-error-message>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Confirmar Contraseña</mat-label>
          <input
            formControlName="duplicatePass"
            matInput
            placeholder="Confirmar Contraseña"
            [type]="hideConfirmPassword ? 'password' : 'text'"
          />
          <mat-icon
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
            >{{
              hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon
          >
          <app-error-message
            [field]="empleadoForm.get('duplicatePass')"
            error="required"
            message="Contraseña es obligatoria"
            style="display: block"
          ></app-error-message>
          <app-error-message
            [field]="empleadoForm.get('duplicatePass')"
            error="pattern"
            message="La contraseña debe contener al menos un número, una mayúscula, un carácter especial y un letra minúscula y al menos 8 caracteres, la contraseña no puede contener espacios en blanco"
            style="display: block"
          ></app-error-message>
          <app-error-message
            [field]="empleadoForm.get('duplicatePass')"
            error="MustMatch"
            message="Las contraseñas deben coincidir"
          ></app-error-message>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="buttons" mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    [disabled]="!empleadoForm.valid"
    (click)="addEmpleado($event)"
  >
    {{ btnAccion }}
  </button>
</div>
