<!-- Header of page -->
<div class="header-page">
  <h3 style="font-weight: bold">Datos de los empleados</h3>
  <button mat-button class="agregar-empleado" (click)="openDialog()">
    Agregar empleado
  </button>
</div>

<div class="container">
  <div style="margin-top: 10px">
    <!-- Body of page -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" />
    </mat-form-field>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
        <!-- Id Column -->
        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Id
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.Id }}
          </mat-cell>
        </ng-container>

        <!-- DNI Column -->
        <ng-container matColumnDef="DNI">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            DNI
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.Dni }} </mat-cell>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombre
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.Nombre }} </mat-cell>
        </ng-container>

        <!-- Apellidos Column -->
        <ng-container matColumnDef="Apellidos">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Apellidos
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.Apellidos }} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Correo electronico
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.Email }} </mat-cell>
        </ng-container>

        <!-- Negocio Column -->
        <ng-container matColumnDef="Negocio">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Negocio
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.NegocioEmpleado.Nombre }}
          </mat-cell>
        </ng-container>
        <!-- Accion Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Accion
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              mat-button
              class="toggle-button-navbar mat-icon-button"
              color="primary"
              (click)="editEmployee(row)"
            >
              <mat-icon> edit </mat-icon>
            </button>
            <button
              mat-button
              class="toggle-button-navbar mat-icon-button"
              color="warn"
              (click)="deleteEmployee(row.Id, row.Nombre)"
            >
              <mat-icon> delete </mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
