.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  align-content: center;
  .empleados {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .empleados-rendimiendo {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
  .empleados,
  .empleados-rendimiendo {
    width: 100%;
    background: white;
    padding: 2rem;
  }
}
